.nav-list {
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 500ms;
}

.nav-list a{
    color: black;
}
.nav-list a:hover{
    color: #18ba60;
}

@media (max-width: 700px) {
    .no-mobile {
        display: none;

    }
}

.closeMenuBtn {
    display: none !important;
}

@media (max-width: 992px) {
    .nav-list {
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        /*left: -100% !important;*/
        /*transform: translateX(50%) !important;*/
        background-color: white;
        padding: 20px;
        height: 100vh;
        width: 90vw;

    }

    .nav-c {
        justify-content: space-between !important;
    }

    .menu-btn {
        display: block !important;
    }

    .closeMenuBtn {
        display: block !important;
    }

    .home-sec4 {
        background-position: bottom;
    }

}

.home-sec1 {
    color: white;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


/* Home-section-1 */
section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box img {
    width: 100%;
    height: auto;
}

i {
    color: #18ba60;
}

.home-sec3 {
    padding-top: 50px;
    padding-bottom: 60px;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #18ba60;
}

.home-sec4 {
    background-image: url(./assets/call-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* Home-section-4*/
    .card-body:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        background-color: white;
    }

    .news-box img {
        width: 100%;
        height: auto;
    }

    .news-box p {
        font-size: 15px;
    }
/* about-section-4*/
    .about-sec1 {
        color: white;
        background-image: url(./assets/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;

    }
    .about-sec3 {
        background-color: #F3F3F3;
    }
    .sec4-card .card-body{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }
    .sec4-card h5 {
        color: #18ba60;
    }
    .sec4-card p{
        font-size: 15px;
    }

/*******************Services**********************/

.service-sec1 {
    color: white;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

}
/* Service-section-2 */
        /* col1 */
        .mini-h ,h4{
            color: rgb(0, 84, 139);
            font-weight: 700;

        }

        .service-sec2 h2 {
            color: #18ba60;
        }

        .service-sec2 img {
            height: auto;
            width: 100%;
        }

        /* col2 */
        .servpage-sec1-col2{
            width:400px;
            /* background-color: #8bdbaf; */
            padding:25px 25px; 
        }
        .service-sec2 h3{
            font-size: 25px;
            margin: 30px 0;
            color: #3a526a;
        }
        .service-sec2 hr{
            border-bottom: 2px solid gray;
            margin-bottom: 40px;
        }
        .service-sec2 ul{
            padding-left:5px;
            list-style: none;
        }
        .service-sec2 ul li{
            margin-bottom: 25px;
        }
        .service-sec2 ul li:hover{
            cursor: pointer;
            font-weight: 700;
            color:#3a526a ;
            text-decoration: underline  #18ba60 2px;
        }

        /*form*/
        .f{
            width: 100%;
            height: auto;
            background-color: #F1F6F2;
            border-radius: 25px;
        }
        .send-form{
            margin: 30px 15px;
            padding: 20px 0px;

        }
        .send-form input{
            width: 100%;
            height: auto;
            font-size: 17px;
            margin-bottom:30px;
            background-color: white;
            border: transparent;
        }
        .send-form .msg{
        padding-bottom: 75px;
        }
        .send-form button{
            width: 100%;
            height:  40px;
            font-size: 17px;
            font-weight: 600;
            color: white;
            background-color: #18ba60;
            border: transparent;
        }
          /*Contact-form*/
          .Contact-form{
            width: 100%;
            height: auto;
            background-color: #F1F6F2;
            border-radius: 20px;
        }
        .c-form{
            margin: 50px 20px;
            padding: 20px 0px;

        }
        .c-form input{
            width: 100%;
            height: auto;
            font-size: 15px;
            margin-bottom:30px;
            background-color: white;
            border: transparent;
            padding: 10px;
            outline-color: rgb(158, 161, 160);
        }
        .c-form .msg{
        padding-bottom: 75px;
        }
        .c-form button{
            width: 100%;
            height:  40px;
            font-size: 17px;
            font-weight: 600;
            color: white;
            background-color: #18ba60;
            border: transparent;
        }

/*************contact*******************/
.contact-sec1 {
    color: white;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

}
.mini-h {
    color: rgb(0, 84, 139);
    font-weight: 700;
    font-size: 19px;


}

.contact-sec2 h2 {
    color: #18ba60;
}

.head {
    font-size: 14px;
    color: rgb(85, 85, 85);

}
/*************** footer *****************/
        footer {
            background-color: #2e363a;
            color: white !important;
        }
        footer a {
            color: white;
        }
        footer .social-media{
            list-style: none;
        }
        footer .list1,.list2{
            list-style-type:square;
        }